<a href="https://colab.research.google.com/github/cw-infinite/graphicachu/blob/master/tensorFlowPractice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

x = [1, 2, 2.5, 3, 4]
y = [1, 4, 7, 9, 15]
plt.plot(x, y, 'ro')
plt.axis([0, 6, 0, 20])

In [1]:
!pip install -q sklearn

In [2]:
%tensorflow_version 2.x # TensorFlow version

In [3]:
# Setup imports
from __future__ import absolute_import, division, print_function, unicode_literals

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import clear_output
from six.moves import urllib

import tensorflow.compat.v2.feature_column as fc

import tensorflow as tf

In [20]:
dfsuicide = pd.read_csv('/content/suicide_korea.csv')
#y_train = dftrain.pop('survived')
print(dfsuicide)

               Country  Year  Gender  ... SuicidesNo  Population  Suicides100kPop
0    Republic of Korea  1985    male  ...         42      154800            27.13
1    Republic of Korea  1985    male  ...        393     1498300            26.23
2    Republic of Korea  1985    male  ...        903     4285700            21.07
3    Republic of Korea  1985    male  ...        655     3616800            18.11
4    Republic of Korea  1985    male  ...        678     4413000            15.36
..                 ...   ...     ...  ...        ...         ...              ...
367  Republic of Korea  2015  female  ...       1372     8337331            16.46
368  Republic of Korea  2015    male  ...        421     3580725            11.76
369  Republic of Korea  2015  female  ...        256     3211732             7.97
370  Republic of Korea  2015    male  ...         17     2523952             0.67
371  Republic of Korea  2015  female  ...         14     2347429             0.60

[372 rows x 7 columns]

In [9]:
dfsuicide.head() # first 5 items in dataframe df.

             Country  Year Gender  ... SuicidesNo  Population  Suicides100kPop
0  Republic of Korea  1985   male  ...         42      154800            27.13
1  Republic of Korea  1985   male  ...        393     1498300            26.23
2  Republic of Korea  1985   male  ...        903     4285700            21.07
3  Republic of Korea  1985   male  ...        655     3616800            18.11
4  Republic of Korea  1985   male  ...        678     4413000            15.36

[5 rows x 7 columns]

In [ ]:
dfsuicide.describe() # more statistical analysis

In [11]:
dfsuicide.shape 
# In tensorflow row = entry, column = feature so  372 entries and 7 features

(372, 7)

Problem: this dataset is not yet cleaned categorically so need a clean up
Goal: 


1.   suicide count on each year (male + female + all age)
2.   suicide count by gender 
3.   suicide rate on year / age group

Ref: https://www.kaggle.com/sadiqshah/suicides-rates-1985-2016-in-rf, Code Tab

In [22]:
dfsuicide.groupby(['Gender'])['SuicidesNo'].sum()

Gender
female     82615
male      179115
Name: SuicidesNo, dtype: int64

In [ ]:
def make_input_fn(data_df, label_df, num_epochs=10, shuffle=True, batch_size=32):
  def input_function():  # inner function, this will be returned
    ds = tf.data.Dataset.from_tensor_slices((dict(data_df), label_df))  # create tf.data.Dataset object with data and its label
    if shuffle:
      ds = ds.shuffle(1000)  # randomize order of data
    ds = ds.batch(batch_size).repeat(num_epochs)  # split dataset into batches of 32 and repeat process for number of epochs
    return ds  # return a batch of the dataset
  return input_function  # return a function object for use

train_input_fn = make_input_fn(dftrain, y_train)  # here we will call the input_function that was returned to us to get a dataset object we can feed to the model
eval_input_fn = make_input_fn(dfeval, y_eval, num_epochs=1, shuffle=False)